<h1>Create a ssseeeeeeeecret!</h1>

<%= form_for @secret do |f| %>

  <%= f.label :text, "Your secret (shhhh):" %>
  <%= f.text_field :text %>
  <br />
  <%= f.submit "Save secret" %>

<% end %>

<%= link_to "Back to your page", @current_user %>